<!DOCTYPE html>
<html>
  
<title>To Do Task</title>
<%- include ../partials/head %>
    
    <body id="page-top" class="contact-us">
    <!-- Preloader -->
    <div class="preloader"></div>
    <header>
        <!-- Navigation -->
        <%- include ../partials/nav %>
        <div id="page_header">
            <div class="page_title">
                <h3>To Do Task</h3>
                
            </div>
        </div>
    </header>

  
    <!-- for edit and delete icon -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
<section id="contact">

    <div class="container">
               <form action="/feature/todotask" method="POST" class="validated-form" novalidate>
                   <div class="row justify-content-md-center">
                       <div class="col-xs-12 col-md-6 col-md-offset-3">
                        <h1 class=>Add a task</h1>
                           <div class="form-holder">
                               <div class="form-group">
                                   <input type="text" class="form-control" placeholder="task" id="task" name="task" required data-validation-required-message="Please enter your task">
                                   <p class="help-block text-danger"></p>
                               </div>
                             
                               <div id="success"></div>
                               <button type="submit" class="btn btn-primary">Add</button>
                           </div>
                           
                       </div>
                   </div>
                  </form>
   

              <div class="p">
               <div class="col-xs-12 col-md-6 col-md-offset-3">
                <h1>Your To Do List</h1>
                   <div class="form-holder">
                <table class="table table-hover table-dark">
                    <thead>
                      <tr>
                        <th scope="col">Tasks</th>
                        <th class="text-right">Created Date</th>
                        <th class="text-right"></th>
                      </tr>
                    </thead>
                    <tbody>
                    
                      <% todoTask.forEach(details =>{ %>
                        <style>
                          input[type=checkbox]:checked + label{
                            opacity: 50%;
                            text-decoration: line-through;
                          }
                        </style>
                       <tr>
                            
                            <td > <input type ="checkbox" id="<%=details.id%>" > <label for="<%=details.id%>">    <%=details.task%>  </label> 
                            </td>
                            <td class="text-right"> <%=details.timeCreated.toLocaleDateString() %></td>
                            
                            <td class="text-right">
                             <a href="/feature/edit/<%=details.id %>"  ><i class='fas fa-edit' style='font-size:20px;color:#3FCE63'></i> </a>
                              <a href="/feature/remove/<%=details.id %>"><i class='far fa-trash-alt' style='font-size:20px;color:#EB5F51'></i></a>
                            </td>
                          </tr>

                          <% }) %> 
                                           
                    </tbody>
                  </table>
               </div>
            </div>

</section>

   <%- include ../partials/footer %>
   </body>
    </html>